body {
  background-image: url('../grass.jpg');
  color: white;
  font-family: monospace;
  text-align: center;
  position: absolute;
  left: 35%;
}

button {
  border: none;
  border-radius: 3px;
  background-color: white;
  height: 40px;
  width: 80px;
  margin: 10px 10px 10px 0;
  display: block-inline;
}

.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}
